@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t2z6ka');
  src:  url('fonts/icomoon.eot?t2z6ka#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t2z6ka') format('truetype'),
    url('fonts/icomoon.woff?t2z6ka') format('woff'),
    url('fonts/icomoon.svg?t2z6ka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}


body{
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	background: #A1CF89;
}
header{
	background: #A1CF89;
}

footer h2{
	margin: 0;
	background: #C7919A;
	color: white;
	padding: 10px 0 10px 40px;
}

footer div{
	background: #851A40;
	margin: 0;
	text-align: center;
}

footer div p{
	margin: 0;
}

.logo img{
	width: 500px;
}

.logotipo h1{
	margin: 0;
	display: inline-block;
}

form input{
	width: 70%;
	margin: 10px 15%;
	padding: 10px;
}

form textarea{
	width: 70%;
	margin: 10px 15%;
	padding: 10px;
}

figure{
	margin: 0 0 0 50px;
	display: inline-block;
}

.menu{
	width: 100%;
	padding-bottom: 1px;
}
.menu ul{
	padding: 0;
	display: flex;
}
.menu ul li{
	width: 25%;
	display: inline-block;
	background: #1B8181;
	margin: 0;
	font-size: 30px;
	text-align: center;
}
.menu ul li:hover{
	background: #0E5B5B;
}
.menu ul li a{
	color: white;
	text-decoration: none;
}
.borde-nav{
	border-right: 1px solid white;
}

#novedades{
	margin-bottom: 20px;
}

#novedades h2{
	margin: 0;
	background: #9D9DD9;
	color: white;
	padding: 10px 0 10px 40px;
}

.slider{
	text-align: center;
	background: #7272AC;
	width: 100%;
	height: 320px;
}

.slider img{
	width: 98%;
	height: 90%;
	margin-top: 20px;
	border: 1px solid #707070;
}

#catalogo h2{
	margin: 0;
	background: #50A3AD;
	color: white;
	padding: 10px 0 10px 40px;
}
#catalogo{
	background: #1C5E76;
}
#catalogo div{
	margin: 15px;
	text-align: center;
}
#catalogo div img{
	width: 240px;
	height: 140px;
	display: inline-block;
	margin: 5px;
}

/*about*/
.fondo{
	background: #7272AC;
	padding: 150px;
	margin: 50px 10px 50px 10px;
}

.fondo h2{
	font-size: 50px;
	color: white;
}

.img-derecha{
	float: right;
	position: relative;
	top: -300px;
	right: -150px;
}

.contenedor{
	padding-left: 20px;

}

.contenedor ul li{
	font-size: 35px;
	color: pink;
}

.marisol{
	padding: 10px;
	margin: 10px;
}