<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La Rosa de Santa María</title>
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>
	<header>
		<figure class="logo">
			<img src="../imagenes/logo_rosema.png">
		</figure>
		
		<nav class="menu">
			<ul>
				<li class="borde-nav"><a href="index.html">Home</a></li>
				<li class="borde-nav"><a href="#">Catálogo</a></li>
				<li class="borde-nav"><a href="#">Contácto</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
		</nav>
	</header>
	<section class="fondo">
		<h2>Me llamo Marisol...</h2>
		<article class="marisol"> 
			<img class="img-derecha" src="../imagenes/marypasteluda.png" width="500" alt="Marisol">
			<div class="contenedor">
				<ul>
					<li>Me encanta hacer pastelitos, panesillos y chocolatitos.</li>
					<li>Amo el chocolate y a Sharito.</li>
					<li>Era adicta a jugar xbox, pero ahora que Sharitu tiene, lo dejé.</li>
					<li>Tengo muchos gatos, perros y una gallina que no pone huevos.</li>
				</ul>
			</div>
		</article>
	</section>
</body>
</html>