<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La Rosa de Santa María</title>
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>
	<header>
		<figure class="logo">
			<img src="../imagenes/logo_rosema.png">
		</figure>
		
		<nav class="menu">
			<ul>
				<li class="borde-nav"><a href="index.html">Home</a></li>
				<li class="borde-nav"><a href="#">Catálogo</a></li>
				<li class="borde-nav"><a href="#">Contácto</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
		</nav>
	</header>
