<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La Rosa de Santa María | Catalogo</title>
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
	<link rel="stylesheet" href="https://i.icomoon.io/public/temp/267daaf91d/UntitledProject/style.css">
</head>
<body>
	<header>
		<figure class="logo">
			<img src="../imagenes/logo_rosema.png">
		</figure>
		
		<nav class="menu">
			<ul>
				<li class="borde-nav"><a href="index.html">Home</a></li>
				<li class="borde-nav"><a href="catalogo.html">Catálogo</a></li>
				<li class="borde-nav"><a href="#">Contácto</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
		</nav>
	</header>

	<div class="catalogoD">
		<div class="categorias a">
			<div>
				<h2>Frutales</h2>
			</div>
			<div class="imagenesCat">
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
			</div>
		</div>

		<div class="categorias b">
			<div>
				<h2>Flores</h2>
			</div>
			<div class="imagenesCat">
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
			</div>
		</div>

		<div class="categorias c">
			<div>
				<h2>Figuras</h2>
			</div>
			<div class="imagenesCat">
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
			</div>
		</div>

		<div class="categorias d">
			<div>
				<h2>Otros</h2>
			</div>
			<div class="imagenesCat">
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
				<div class="imagenCat"><img src="../imagenes/pastel2.jpg" alt=""></div>
			</div>
		</div>
		
	</div>

	<footer>
		<h2>Comentarios</h2>
		<div>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<form>
	            <input type="text" required id="nombre" name="nombre" placeholder="Nombre..." >
	            <textarea name="comentarios" id="comentarios" cols="30" rows="7" placeholder="Dejanos tu opinión..."></textarea>
			</form>
		</div>
		
	</footer>
</body>
</html>