<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La Rosa de Santa María</title>
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>
	<header>
		<figure class="logo">
			<img src="../imagenes/logo_rosema.png">
		</figure>
		
		<nav class="menu">
			<ul>
				<li class="borde-nav"><a href="index.html">Home</a></li>
				<li class="borde-nav"><a href="catalogo.html">Catálogo</a></li>
				<li class="borde-nav"><a href="contacto.html">Contácto</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
		</nav>
	</header>
	<section class="fondo-c">
		<h2>Contáctanos para mayor información.</h2>
		<article class="rosa"> 
			<img class="img-rosa" src="../imagenes/rosa.png" width="700" alt="Rosa-Vector">
			<div class="texto">
				<ul>
					<li class="texto-a">Dirección</li>
					<li class="texto-b">Av. Pastel 133, Venustiano Carranza, CDMX.</li>
					<li class="texto-a">Teléfonos</li>
					<li class="texto-b">5500221133     8866557700</li>
					<li class="texto-a">Email</li>
					<li class="texto-b">larosema@outlook.com</li>
				</ul>
			</div>
		</article>
	</section>
	<footer>
		<h2>Comentarios</h2>
		<div>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<form>
	            <input type="text" required id="nombre" name="nombre" placeholder="Nombre..." >
	            <textarea name="comentarios" id="comentarios" cols="30" rows="7" placeholder="Dejanos tu opinión..."></textarea>
			</form>
		</div>
		
	</footer>
</body>
</html>