<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La Rosa de Santa María</title>
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
	<link rel="stylesheet" href="https://i.icomoon.io/public/temp/267daaf91d/UntitledProject/style.css">
</head>
<body>
	<header>
		<figure class="logo">
			<img src="../imagenes/logo_rosema.png">
		</figure>
		
		<nav class="menu">
			<ul>
				<li class="borde-nav"><a href="index.html">Home</a></li>
				<li class="borde-nav"><a href="catalogo.html">Catálogo</a></li>
				<li class="borde-nav"><a href="#">Contácto</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
		</nav>
	</header>

	<div id="novedades">
		<h2>Novedades</h2>
		<div class="slider">
			<img src="../imagenes/pastelp.jpg"> 
		</div>
	</div>

	<div id="catalogo">
		<h2><a href="catalogo.html">Catálogo</a></h2>
		<div>
			<img src="../imagenes/p7.jpg" alt="">
			<img src="../imagenes/pastel2.jpg" alt="">
			<img src="../imagenes/pastel5.jpg" alt="">
			<img src="../imagenes/pastel6.jpg" alt="">
			<img src="../imagenes/pastel3.jpg" alt="">
		</div>
	</div>

	<footer>
		<h2>Comentarios</h2>
		<div>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<span class="icon-star-full"></span>
			<form>
	            <input type="text" required id="nombre" name="nombre" placeholder="Nombre..." >
	            <textarea name="comentarios" id="comentarios" cols="30" rows="7" placeholder="Dejanos tu opinión..."></textarea>
			</form>
		</div>
		
	</footer>
</body>
</html>